<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tencent_bugly_appkey</key>
	<string>65e4001e04</string>
	<key>InternalVersion</key>
	<integer>0</integer>
	<key>Language</key>
	<array>
		<dict>
			<key>key</key>
			<string>automatic</string>
			<key>value</key>
			<string>My_Language_006</string>
		</dict>
		<dict>
			<key>key</key>
			<string>en</string>
			<key>value</key>
			<string>My_Language_001</string>
		</dict>
		<dict>
			<key>key</key>
			<string>zh-Hans</string>
			<key>value</key>
			<string>My_Language_002</string>
		</dict>
		<dict>
			<key>key</key>
			<string>zh-Hant</string>
			<key>value</key>
			<string>My_Language_003</string>
		</dict>
	</array>
	<key>ServerAddress</key>
	<dict>
		<key>msvr://</key>
		<string>http://api.dnfe.tv/</string>
		<key>msvrh5://</key>
		<string>http://h5.weiyingonline.com</string>
		<key>msvrs://</key>
		<string>https://api.dnfe.tv/</string>
	</dict>
	<key>ShareSDKAppKeys</key>
	<dict>
		<key>k_appKey_shareSDKAppSecret</key>
		<string>db86c07e64e0324a0ffc4a29cd4f863c</string>
		<key>k_appKey_shareSDKAppKey</key>
		<string>1fbd2b8f2aa06</string>
		<key>k_appKey_QQAppID</key>
		<string>1106282880</string>
		<key>k_appKey_QQAppKey</key>
		<string>LaIGkgegOiYwrOnS</string>
		<key>k_appKey_sinaAppKey</key>
		<string>830815707</string>
		<key>k_appKey_sinaAppSecret</key>
		<string>3d5367a198f996a75bf041117b2be1c5</string>
		<key>k_appKey_weixinAppID</key>
		<string>wxe64807d25a552a65</string>
		<key>k_appKey_weixinAppSecret</key>
		<string>b22a878c995e437536fe70e59a48e89c</string>
	</dict>
	<key>MyProfileCell</key>
	<array>
		<dict>
			<key>key</key>
			<string>automatic</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>1.0_009</string>
			<key>IconName</key>
			<string></string>
			<key>Style</key>
			<integer>1</integer>
			<key>isShowLine</key>
			<true/>
			<key>contentText</key>
			<string></string>
		</dict>
		<dict>
			<key>key</key>
			<string>automatic</string>
		</dict>
		<dict>
			<key>key</key>
			<string>automatic</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>1.0_252</string>
			<key>IconName</key>
			<string></string>
			<key>Style</key>
			<integer>1</integer>
			<key>isShowLine</key>
			<true/>
			<key>contentText</key>
			<string></string>
		</dict>
		<dict>
			<key>Title</key>
			<string>1.0_253</string>
			<key>IconName</key>
			<string></string>
			<key>Style</key>
			<integer>1</integer>
			<key>isShowLine</key>
			<true/>
			<key>contentText</key>
			<string></string>
		</dict>
		<dict>
			<key>Title</key>
			<string>My_007</string>
			<key>IconName</key>
			<string></string>
			<key>Style</key>
			<integer>1</integer>
			<key>isShowLine</key>
			<true/>
			<key>contentText</key>
			<string></string>
		</dict>
		<dict>
			<key>Title</key>
			<string>1.0_319</string>
			<key>IconName</key>
			<string></string>
			<key>Style</key>
			<string></string>
			<key>isShowLine</key>
			<string>YES</string>
			<key>contentText</key>
			<string></string>
		</dict>
		<dict>
			<key>Title</key>
			<string>1.0_318</string>
			<key>IconName</key>
			<string></string>
			<key>Style</key>
			<integer>1</integer>
			<key>isShowLine</key>
			<true/>
			<key>contentText</key>
			<string></string>
		</dict>
		<dict>
			<key>Title</key>
			<string>2.5_014</string>
			<key>IconName</key>
			<string></string>
			<key>Style</key>
			<integer>1</integer>
			<key>isShowLine</key>
			<true/>
			<key>contentText</key>
			<string></string>
		</dict>
		<dict>
			<key>Title</key>
			<string>2.5_015</string>
			<key>IconName</key>
			<string></string>
			<key>Style</key>
			<integer>1</integer>
			<key>isShowLine</key>
			<true/>
			<key>contentText</key>
			<string></string>
		</dict>
		<dict>
			<key>key</key>
			<string>automatic</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>1.0_013</string>
			<key>IconName</key>
			<string></string>
			<key>Style</key>
			<string></string>
			<key>isShowLine</key>
			<string>NO</string>
			<key>contentText</key>
			<string></string>
		</dict>
		<dict>
			<key>key</key>
			<string>automatic</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>1.0_011</string>
			<key>IconName</key>
			<string></string>
			<key>Style</key>
			<integer>1</integer>
			<key>isShowLine</key>
			<true/>
			<key>contentText</key>
			<string></string>
		</dict>
		<dict>
			<key>key</key>
			<string>automatic</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>1.0_010</string>
			<key>IconName</key>
			<string></string>
			<key>Style</key>
			<integer>1</integer>
			<key>isShowLine</key>
			<true/>
			<key>contentText</key>
			<string></string>
		</dict>
		<dict>
			<key>Title</key>
			<string>1.0_196</string>
			<key>IconName</key>
			<string></string>
			<key>Style</key>
			<integer>1</integer>
			<key>isShowLine</key>
			<true/>
			<key>contentText</key>
			<string></string>
		</dict>
		<dict>
			<key>Title</key>
			<string>My_Setting_010</string>
			<key>IconName</key>
			<string></string>
			<key>Style</key>
			<integer>1</integer>
			<key>isShowLine</key>
			<true/>
			<key>contentText</key>
			<string></string>
		</dict>
		<dict>
			<key>Title</key>
			<string>1.0_172</string>
			<key>IconName</key>
			<string></string>
			<key>Style</key>
			<integer>1</integer>
			<key>isShowLine</key>
			<false/>
			<key>contentText</key>
			<string></string>
		</dict>
	</array>
	<key>SetUpCell</key>
	<array>
		<array>
			<dict>
				<key>Title</key>
				<string>My_Setting_009</string>
				<key>IconName</key>
				<string></string>
				<key>Style</key>
				<integer>1</integer>
				<key>isShowLine</key>
				<true/>
				<key>isShowSwitch</key>
				<false/>
			</dict>
			<dict>
				<key>Title</key>
				<string>My_Setting_001</string>
				<key>IconName</key>
				<string></string>
				<key>Style</key>
				<integer>1</integer>
				<key>isShowLine</key>
				<true/>
				<key>isShowSwitch</key>
				<false/>
			</dict>
			<dict>
				<key>Title</key>
				<string>1.0_355</string>
				<key>IconName</key>
				<string></string>
				<key>Style</key>
				<integer>1</integer>
				<key>isShowLine</key>
				<true/>
				<key>isShowSwitch</key>
				<false/>
			</dict>
		</array>
		<array>
			<dict>
				<key>Title</key>
				<string>My_Setting_013</string>
				<key>IconName</key>
				<string></string>
				<key>Style</key>
				<integer>1</integer>
				<key>isShowLine</key>
				<true/>
				<key>isShowSwitch</key>
				<false/>
			</dict>
			<dict>
				<key>Title</key>
				<string>My_Setting_006</string>
				<key>IconName</key>
				<string></string>
				<key>Style</key>
				<integer>1</integer>
				<key>isShowLine</key>
				<true/>
				<key>isShowSwitch</key>
				<false/>
			</dict>
			<dict>
				<key>Title</key>
				<string>About_001</string>
				<key>IconName</key>
				<string></string>
				<key>Style</key>
				<integer>1</integer>
				<key>isShowLine</key>
				<true/>
				<key>isShowSwitch</key>
				<false/>
			</dict>
		</array>
	</array>
</dict>
</plist>
